<link th:fragment="head">
    <meta charset="utf-8" > </meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" > </meta>
    <meta name="description" content="" > </meta>
    <meta name="author" content="Dashboard" > </meta>
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina"/> </meta>

    <title>DASHGUM - FREE Bootstrap Admin Template</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet"> </link>
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" > </link>
    <link rel="stylesheet" type="text/css" href="/css/zabuto_calendar.css" > </link>
    <link rel="stylesheet" type="text/css" href="/js/gritter/css/jquery.gritter.css" > </link>
    <link rel="stylesheet" type="text/css" href="/lineicons/style.css" > </link>

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" > </link>
    <link href="/css/style-responsive.css" rel="stylesheet" > </link>

    <script src="/js/chart-master/Chart.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>