<script src="/js/jquery.js"></script>
<script src="/js/jquery-1.8.3.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="/js/jquery.scrollTo.min.js"></script>
<script src="/js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="/js/jquery.sparkline.js"></script>


<!--common script for all pages-->
<script src="/js/common-scripts.js"></script>

<script type="text/javascript" src="/js/gritter/js/jquery.gritter.js"></script>
<script type="text/javascript" src="/js/gritter-conf.js"></script>